---
layout: null
title: Rio Olympics
---

{% include head.html %}

{% include public_header.html %}

<div class="content">
  <div class="schedule">
    <h2>Monday, August 10</h2>
    <table>
      <tbody>
      <tr>
        <td>9am</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>10am</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>11am</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>12pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>1pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>2pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>3pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>4pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>5pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>6pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>7pm</td>
        <td>Some Event<br><span class="venue">Venue 1</span></td>
        <td><a href="/">Details</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

{% include footer.html %}
