---
layout: null
title: Rio Olympics
---

{% include head.html %}

{% include public_header.html %}



<script>

    function login(){
        var username = document.getElementById("username").value;
        var pw = document.getElementById("password").value;
        var errorp = document.getElementById("errorp");
        
        if(username=="athlete" && pw=="pw"){
            window.location = "/athlete";
        }else if(username=="security" && pw=="pw"){
            window.location = "/security";
        }else{
            errorp.style.display = "block";
        }
    }

</script>

<div class="form">
    <p id="errorp" style="color:red;display:none;">Invalid username/password</p>

    Username:<br><input type="text" id="username" name="username">
    <br>
    Password:<br><input type="password"  id="password"  name="password">
    <br><br>
    <input type="submit" value="Submit" onclick="login();">
</div>

{% include footer.html %}
