---
layout: null
title: Rio Olympics
---

{% include head.html %}

{% include security_header.html %}

<div class="content">
  <div class="schedule">
    <h3>Event Details</h3>
    <table>
      <tr>
        <th>Event Name</th>
        <th>Venue</th>
        <th>Time and Date</th>
        <th>Seats Available</th>
      </tr>
      <tr>
        <td>Some Event</td>
        <td>Venue 1</td>
        <td>Monday, August 20 at 10am</td>
        <td>190</td>
      </tr>
    </table>
  </div>

  <div class="schedule">
    <h3>Security Details</h3>
    <table>
      <tr>
        <th>Number of Officers</th>
        <th>Special Equipment</th>
        <th>Threat Level</th>
      </tr>
      <tr>
        <td>24</td>
        <td>None</td>
        <td>Low</td>
      </tr>
    </table>
  </div>
</div>

{% include footer.html %}
