---
layout: null
title: Rio Olympics
---

{% include head.html %}

{% include security_header.html %}

<div class="content">
  <div class="schedule">
    <h3>Outstanding Requests</h3>
    <table>
      <tr>
        <td>1</td>
        <td>Request for security escort<br><span class="venue">July 18, 6pm, John Smith</span></td>
        <td><a href="/security/approve-request">Approve</a> / <a href="/security/deny-request">Deny</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Request for additional event security<br><span class="venue">July 19, 10am, Event Hall C</span></td>
        <td><a href="/security/approve-request">Approve</a> / <a href="/security/deny-request">Deny</a></td>
      </tr>
    </table>
  </div>
</div>

{% include footer.html %}
