---
layout: null
title: Rio Olympics
---

{% include head.html %}

{% include athlete_header.html %}

<div class="content">
  <div class="schedule">
    <h2>Monday, August 10</h2>
    <table>
      <tbody>
      <tr>
        <td>9am</td>
        <td>Beach Volleyball<br><span class="venue">Olympic Stadium</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>10am</td>
        <td>Archery<br><span class="venue">Event Hall 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>11am</td>
        <td>Badminton</td><br><span class="venue">Event Hall 2</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>12pm</td>
        <td>Boxing<br><span class="venue">Event Hall 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>1pm</td>
        <td>Diving<br><span class="venue">Event Hall 2</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>2pm</td>
        <td>Fencing<br><span class="venue">Olympic Stadium<</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>3pm</td>
        <td>Football<br><span class="venue">Olympic Stadium<</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>4pm</td>
        <td>Golf<br><span class="venue">Event Hall 1</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>5pm</td>
        <td>Handball<br><span class="venue">Event Hall 2</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>6pm</td>
        <td>Hockey<br><span class="venue">Event Hall 2</span></td>
        <td><a href="/event-detail">Details</a></td>
      </tr>
      <tr>
        <td>7pm</td>
        <td>Judo<br><span class="venue">Event Hall 1</span></td>
        <td><a href="/">Details</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

{% include footer.html %}
