---
layout: null
title: Rio Olympics
---

{% include head.html %}

{% include athlete_header.html %}

<div class="content">
  <div class="form">
    <form action="/athlete/autograph-signing/success/index.html">
      Venue:<br>
      <input type="text" name="Venue">
      <br>
      Date:<br>
      <input type="text" name="Date">
      <br>
      Time:<br>
      <input type="text" name="Time">
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

{% include footer.html %}
